{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "prettier", "plugin:vue/essential"],
  "plugins": ["vue"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "indent": [2, 2],
    "camelcase": 0,
    "class-methods-use-this": 0,
    "new-cap": 0,
    "no-new": 1,
    "no-shadow": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-confusing-arrow": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-undef": 2,
    "no-param-reassign": 0,
    "func-style": 0,
    "prefer-default-export": 0,
    "max-len": 0,
    "consistent-return": 0
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "vue/script-setup-uses-vars": 0,
        "vue/multi-word-component-names": 0,
        "vue/no-multiple-template-root": 0,
        "vue/return-in-computed-property": 1,
        "vue/order-in-components": 2,
        "vue/component-name-in-template-casing": [2, "kebab-case"],
        "vue/require-default-prop": 0,
        "import/order": "off"
      }
    }
  ]
}
